# OpenEMR lab database credentials

OPENEMR_DB_ROOT_PASSWORD=CHANGE_ME
OPENEMR_DB_USER=openemr
OPENEMR_DB_PASSWORD=CHANGE_ME

# OpenEMR initial administrator account

OPENEMR_ADMIN_USER=admin
OPENEMR_ADMIN_PASSWORD=CHANGE_ME
