MIRTH_DB_NAME=mirthdb
MIRTH_DB_USER=mirth
MIRTH_DB_PASSWORD=replace-with-local-secret
MIRTH_KEYSTORE_STOREPASS=replace-with-local-secret
MIRTH_KEYSTORE_KEYPASS=replace-with-local-secret
MIRTH_HTTP_PORT=8080
MIRTH_HTTPS_PORT=8443
MIRTH_MLLP_PORT=6661
INTEROP_DB_NAME=interop
INTEROP_DB_USER=interop_app
INTEROP_DB_PASSWORD=change-me
